.header-bottom-wrapper {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-image: url(../img/header/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom__item {
  position: relative;
  display: flex;
  padding-left: 40px;
  box-sizing: border-box;
}
.header-bottom__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header-bottom__item:nth-child(1):before {
  background-image: url(../img/header/1.svg);
}
.header-bottom__item:nth-child(2):before {
  background-image: url(../img/header/2.svg);
  transform: translateY(-40%);
}
.header-bottom__item:nth-child(3):before {
  background-image: url(../img/header/3.svg);
}
.header-bottom__item:nth-child(4):before {
  background-image: url(../img/header/4.svg);
}
.header-bottom__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.header-bottom__text span {
  font-weight: 600;
}
.slick-dots {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.slick-dots button {
  width: 8px;
  height: 4px;
  opacity: 0.4;
  margin: 0 4px;
  font-size: 0;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  box-sizing: border-box;
}
.slick-active button {
    opacity: 1;
}
